<html>
<head>

</head>
<body>
    <form action="/profile" method="post" enctype="multipart/form-data"> 
        <p>
        <div>
            <label >Name</label>
            <input type="text" name="iName"/>
        </div>
    </p>
    <p>
        <div>
            <label >File</label>
            <input type="file" name="yourImage"/>
        </div>
    </p>
    <p>
        <button  type="submit">Submit</button>
    </p>
    
    
    </form>
</body>
</html>